.axisLabel {
  font-family: 'Arial, sans-serif';
  font-size: 12px;
  fill: #7b7b7b;
  font-weight: bold;
}

.axisLine{
  stroke: #ccc;
}

.labelPrimary {
  font-family: 'Arial, sans-serif';
  font-size: 10px;
  fill: black;
  font-weight: bold;
}

.labelSecondary {
  font-family: 'Arial, sans-serif';
  font-size: 10px;
  fill: black;
  font-weight: normal;
}

.labelItalic {
  font-family: 'Arial, sans-serif';
  font-size: 10px;
  fill: black;
  font-weight: normal;
  font-style: italic;
}

.seriesLabel {
  font-family: 'Arial, sans-serif';
  font-size: 12px;
  fill: black;
  font-weight: bold;
  dominant-baseline: hanging;
}

.labelOutline {
  stroke-width: 2px;
  paint-order: stroke;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
}
